Django==1.3
django-coverage
coverage
django-debug-toolbar
django-profiles
gunicorn
python-memcached
django-sentry
django-pagination
bleach
supervisor
South
-e git+git@github.com:dmgctrl/django-ztask.git#egg=django_ztask
